name: Java CI with Gradle

on:
  push:
    branches: [ main ]

jobs:
  build:

    permissions:
      contents: write

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: 'gradle'
      - name: Bump version and push tag
        id: tag_version
        uses: anothrNick/github-tag-action@1.55.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
          INITIAL_VERSION: 1.0.0
      - name: Build with Gradle
        run: ./gradlew build
        env:
          VERSION: ${{ steps.tag_version.outputs.new_tag }}
      - uses: actions/upload-artifact@v4
        with:
          name: Package
          path: build
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "build/*"
          tag: ${{ steps.tag_version.outputs.new_tag }}
          name: Release ${{ steps.tag_version.outputs.new_tag }}
          token: ${{ secrets.GITHUB_TOKEN }}
